Repository nettee-space/backend-sample-multi-module, pull requests merged in 2025-03, with the labels that each got.

#12 Common 모듈에 ErrorCode, CustomException 추가
  common/build.gradle.kts
  common/src/main/java/me/nettee/CustomException.java
  common/src/main/java/me/nettee/ErrorCode.java
Labels: in: common, review: required, type: feature

#13 jpa-core 및 exception-handler-core 모듈 추가
  core/core.settings.gradle.kts
  core/exception-handler-core/build.gradle.kts
  core/exception-handler-core/src/main/java/me/nettee/handler/GlobalExceptionHandler.java
  core/exception-handler-core/src/main/java/me/nettee/response/ApiErrorResponse.java
  core/jpa-core/build.gradle.kts
  core/jpa-core/src/main/java/me/nettee/config/JpaConfig.java
  core/jpa-core/src/main/java/me/nettee/support/BaseTimeEntity.java
  core/jpa-core/src/main/java/me/nettee/support/LongBaseEntity.java
  core/jpa-core/src/main/java/me/nettee/support/LongBaseTimeEntity.java
  core/jpa-core/src/main/java/me/nettee/support/UuidBaseEntity.java
  core/jpa-core/src/main/java/me/nettee/support/UuidBaseTimeEntity.java
Labels: in: core, type: feature

#14 Board 관련 모듈 인식
  services/board/board.settings.gradle.kts
  settings.gradle.kts
Labels: in: board, type: feature

#18 build(board): add empty build gradle
  services/board/api/domain/build.gradle.kts
  services/board/api/exception/build.gradle.kts
  services/board/api/readmodel/build.gradle.kts
  services/board/application/build.gradle.kts
  services/board/driven/rdb/build.gradle.kts
  services/board/driving/web-mvc/build.gradle.kts
Labels: type: feature

#23 루트 `build.gradle.kts`에 Kotlin 관련 플러그인 추가
  build.gradle.kts
Labels: type: feature

#31 루트 `build.gradle.kts`에 자바 버전(21) 추가 외 1 건
  build.gradle.kts
Labels: type: feature

#40 Board - Domain / JPA Entity / Exception / Flyway 설정 추가
  services/board/api/domain/src/main/java/me/nettee/Board.java
  services/board/api/domain/src/main/java/me/nettee/type/BoardStatus.java
  services/board/api/exception/src/main/java/me/nettee/BoardCommandErrorCode.java
  services/board/api/exception/src/main/java/me/nettee/BoardCommandException.java
  services/board/api/exception/src/main/java/me/nettee/BoardQueryErrorCode.java
  services/board/api/exception/src/main/java/me/nettee/BoardQueryException.java
  services/board/driven/rdb/build.gradle.kts
  services/board/driven/rdb/src/main/java/nettee/board/entity/BoardEntity.java
  services/board/driven/rdb/src/main/java/nettee/board/entity/type/BoardEntityStatus.java
  services/board/driven/rdb/src/main/java/nettee/board/entity/type/BoardEntityStatusConverter.java
  services/board/driven/rdb/src/main/java/nettee/board/persistence/mapper/BoardEntityMapper.java
  services/board/driven/rdb/src/main/resources/db/postgresql/migration/v1_0/V1_0_0__enable_uuid.sql
  services/board/driven/rdb/src/main/resources/db/postgresql/migration/v1_0/V1_0_1__create_tb_board.sql
  services/board/driven/rdb/src/main/resources/properties/db/board.database-local.yml
  services/board/driven/rdb/src/main/resources/properties/db/board.database.yml
Labels: in: board

#41 Board > Application: Create PORT 및 Create Use-Case
  services/board/api/build.gradle.kts
  services/board/application/build.gradle.kts
  services/board/application/src/main/java/nettee/board/port/BoardCommandRepositoryPort.java
  services/board/application/src/main/java/nettee/board/usecase/BoardCreateUseCase.java
Labels: in: board, type: feature

#43 Feature/board entity status
  services/board/driven/rdb/src/main/java/nettee/board/entity/type/BoardEntityStatus.java
  services/board/driven/rdb/src/main/resources/db/postgresql/migration/v1_0/V1_0_2__alter_board_status_as_integer.sql
Labels: in: board, type: feature

#44 feat(board): fix visibility of entity fields to `public`
  services/board/driven/rdb/src/main/java/nettee/board/entity/BoardEntity.java
Labels: in: board, type: feature

#46 Board(drivng) - Web Api 컨트롤러 구현 및 Jackson null 필드 비직렬화 설정
  services/board/driving/web-mvc/build.gradle.kts
  services/board/driving/web-mvc/resources/board-web.yml
  services/board/driving/web-mvc/src/main/java/nettee/board/web/BoardCommandApi.java
  services/board/driving/web-mvc/src/main/java/nettee/board/web/dto/BoardCommandDto.java
  services/board/driving/web-mvc/src/main/java/nettee/board/web/mapper/BoardDtoMapper.java
Labels: in: board

#49 Board > Application: Service 구현
  services/board/application/src/main/java/nettee/board/service/BoardCommandService.java
Labels: in: board, type: feature

#50 Monolith > Main Runner 모듈을 추가합니다.
  monolith/main-runner/build.gradle.kts
  monolith/main-runner/src/main/java/nettee/main/MainApplication.java
  monolith/main-runner/src/main/resources/application.yml
  monolith/main-runner/src/test/java/nettee/main/MainApplicationTests.java
  monolith/monolith.settings.gradle.kts
  services/board/build.gradle.kts
  services/board/driven/rdb/build.gradle.kts
  services/board/driven/rdb/src/main/java/nettee/board/entity/type/BoardEntityStatusConverter.java
  services/board/src/main/resources/board.yml
  settings.gradle.kts
Labels: in: board, type: refactor, type: feature
