Repository nettee-space/backend-sample-multi-module, pull requests merged in 2025-05, with the labels that each got.

#60 [MAIN] Core > Snowflake Id Core 모듈 구현
  core/core.settings.gradle.kts
  core/jpa-core/build.gradle.kts
  core/jpa-core/src/main/java/nettee/jpa/support/SnowflakeBaseEntity.java
  core/jpa-core/src/main/java/nettee/jpa/support/SnowflakeBaseTimeEntity.java
  core/snowflake/nettee-snowflake-id-api/build.gradle.kts
  core/snowflake/nettee-snowflake-id-api/src/main/java/nettee/constants/SnowflakeConstants.java
  core/snowflake/nettee-snowflake-id-api/src/main/java/nettee/exception/InvalidDatacenterIdException.java
  core/snowflake/nettee-snowflake-id-api/src/main/java/nettee/exception/InvalidWorkerIdException.java
  core/snowflake/nettee-snowflake-id-api/src/main/java/nettee/persistence/id/Snowflake.java
  core/snowflake/nettee-snowflake-id-api/src/main/java/nettee/properties/SnowflakeProperties.java
  core/snowflake/nettee-snowflake-id-api/src/main/java/nettee/validator/SnowflakeConstructingValidator.java
  core/snowflake/nettee-snowflake-id-hibernate/build.gradle.kts
  core/snowflake/nettee-snowflake-id-hibernate/src/main/java/nettee/hibenate/annotation/SnowflakeGenerated.java
  core/snowflake/nettee-snowflake-id-hibernate/src/main/java/nettee/hibenate/generator/SnowflakeIdGenerator.java
  monolith/main-runner/build.gradle.kts
  monolith/main-runner/src/main/resources/application.yml
  monolith/main-runner/src/main/resources/properties/persistence/main.snowflake.yml
  monolith/main-runner/src/main/resources/properties/web/main.cors.yml
  monolith/main-runner/src/test/java/nettee/main/sample/entity/Sample.java
  monolith/main-runner/src/test/java/nettee/main/sample/persistence/SampleRepository.java
  monolith/main-runner/src/test/kotlin/nettee/main/snowflake/SnowflakeTest.kt
  monolith/main-runner/src/test/resources/application.yml
Labels: ⭐️ Hot Place, in: core, type: feature

#72 임시로 로깅 라이브러리를 모든 서브프로젝트에 추가했습니다.
  build.gradle.kts
Labels: in: common, type: dependency

#82 ✨ Gradle Properties 예시 (Board 관련 모듈 + Project 객체 속성 대입, System Prop, Gradle Config Prop)
  build.gradle.kts
  gradle.properties
  monolith/main-runner/build.gradle.kts
  services/board/api/build.gradle.kts
  services/board/board.settings.gradle.kts
  services/board/build.gradle.kts
Labels: in: board, type: refactor, in: main-monolith

#67 Core > Time: `MillisecondSupplier` 및 `SystemMilliseconds` 추가
  core/core.settings.gradle.kts
  core/time-util/build.gradle.kts
  core/time-util/src/main/java/nettee/time/MillisecondsSupplier.java
  core/time-util/src/main/java/nettee/time/SystemMilliseconds.java
  core/time-util/src/test/kotlin/nettee/time/SystemMillisecondsTest.kt
Labels: in: common, review: required, type: feature

#73 Common: Default Error Code 추가
  common/src/main/java/nettee/common/CustomException.java
Labels: in: common, review: required, type: feature

#69 Common: EnumUtil 추가 및 `BoardStatus`에 적용
  common/common.settings.gradle.kts
  common/src/main/java/nettee/common/util/EnumUtil.java
  services/board/api/domain/src/main/java/nettee/board/type/BoardStatus.java
Labels: in: common, type: feature

#99 Main Runner: Flyway 및 DB 접속 정보를 Main Runner 모듈로 옮깁니다. 또한 서버 포트를 5000 대신 8080으로 사용합니다.
  monolith/main-runner/src/main/resources/application-local.yml
  monolith/main-runner/src/main/resources/application.yml
  monolith/main-runner/src/main/resources/db/migration/local/R__dummy_post_views_count.sql
  monolith/main-runner/src/main/resources/db/migration/v1_0/V1_0_0__enable_uuid.sql
  monolith/main-runner/src/main/resources/db/migration/v1_0/V1_0_1__create_tb_board.sql
  monolith/main-runner/src/main/resources/db/migration/v1_0/V1_0_2__alter_board_status_as_integer.sql
  monolith/main-runner/src/main/resources/db/migration/v1_0/V1_0_3__create_tb_article.sql
  monolith/main-runner/src/main/resources/db/migration/v1_0/V1_0_4__create_tb_draft.sql
  monolith/main-runner/src/main/resources/db/migration/v1_0/V1_0_5__create_tb_comment.sql
  monolith/main-runner/src/main/resources/db/migration/v1_0/V1_0_6__create_tb_reply.sql
  monolith/main-runner/src/main/resources/db/migration/v1_0/V1_0_7__create_tb_post_views_count.sql
  services/board/application/src/main/java/nettee/board/port/BoardCommandNetteeClientPort.java
  services/board/board.settings.gradle.kts
  services/board/driven/rdb/src/main/java/nettee/board/driven/rdb/entity/BoardEntity.java
  services/board/driven/rdb/src/main/resources/db/postgresql/migration/v1_0/V1_0_1__create_tb_board.sql
  services/board/driven/rdb/src/main/resources/db/postgresql/migration/v1_0/V1_0_2__alter_board_status_as_integer.sql
Labels: in: board, type: refactor, in: article, in: comment, in: main-monolith

#102 ☀️ Core > Snowflake ID: 밀리초 제공을 '테스트 가능한' 구조로 개선
  core/snowflake/nettee-snowflake-id-api/build.gradle.kts
  core/snowflake/nettee-snowflake-id-api/src/main/java/nettee/snowflake/persistence/id/Snowflake.java
  core/snowflake/nettee-snowflake-id-api/src/main/java/nettee/snowflake/properties/SnowflakeProperties.java
  core/snowflake/nettee-snowflake-id-api/src/test/java/nettee/snowflake/time/TestMilliseconds.java
  core/snowflake/nettee-snowflake-id-api/src/test/kotlin/nettee/snowflake/persistence/id/SnowflakeTest.kt
  core/snowflake/nettee-snowflake-id-api/src/test/kotlin/nettee/snowflake/properties/SnowflakePropertiesTest.kt
Labels: in: core, type: refactor, type: feature

#65 Common > Status Code: 비트에 의미를 담은 상태 코드 공급기 구현
  common/build.gradle.kts
  common/src/main/java/nettee/common/marker/TypeSafeMarker.java
  common/src/main/java/nettee/common/status/CustomStatusParameters.java
  common/src/main/java/nettee/common/status/CustomStatusParametersSupplier.java
  common/src/main/java/nettee/common/status/StatusCodeConstants.java
  common/src/main/java/nettee/common/status/StatusCodeUtil.java
  common/src/main/java/nettee/common/status/StatusParameters.java
  common/src/main/java/nettee/common/status/exception/StatusCodeErrorCode.java
  common/src/main/java/nettee/common/status/exception/StatusCodeException.java
  common/src/test/kotlin/nettee/common/status/StatusCodeUtilTest.kt
  common/src/test/kotlin/nettee/common/status/StatusCodeUtilTest_CustomStatusParameters.kt
  services/board/api/exception/src/main/java/nettee/board/exception/BoardErrorCode.java
  services/board/driven/rdb/src/main/java/nettee/board/driven/rdb/entity/type/BoardEntityStatus.java
Labels: in: common, review: ing, type: feature
